section
  section.index-section(data-state="index-slide")
    h2 Apache Camel
    div an introduction 
    div by Matt Payne
    div 2/15/2014 (target date)
    ul
      h6 Updated Fri Dec 13 20:23:12 CST 2013
    div
      img(src="assets/camel-box-small.png",alt="camel box logo")

  section
    ul
      li These slides are up on GitHub!  
    ul
      li 
        a(href="http://payne.github.io/CamelIntro2014", target="_blank") payne.github.io/CamelIntro2014
      li Source for these slides is also on GitHub 
      ul 
        li
          a(href="https://github.com/payne/CamelIntro2014", target="_blank") github.com/payne/CamelIntro2014

  section
    h2 About Me
    ul
      li 
        | Software Engineer at 
        a(href="http://www.Solutionary.com",target="_blank") Solutionary
      li 
        a(href="https://twitter.com/MattPayneOrg", target="_blank") @MattPayneOrg
      li 
        a(href="http://github.com/payne/", target="_blank") github.com/payne
      li 
        a(href="http://MattPayne.org/", target="_blank") MattPayne.org
      li Payne@MattPayne.org

