include about

section
  h2 Code demo
  pre
      code(data-trim, contenteditable).
          $.when(that(), other())
              .done(okay)
              .fail(notOkay);

section
  h2 Code demo two
  pre
    include code

section
  h2 The End

include thanks
