include about

section
  section
    h2 e.g. 1: Hello Camel 
    pre
      include code/1
    ul
      li Instead of maven, let's use gradle.  Here are the dependencies
    pre
      include code/1a
    ul
      li This whole hello world project is at http://xyzzyURL
  section
    h2 Demo 1
    pre 
      put demo 1 here....

section
  section 
    h2 e.g. 2: Many routes can run at once
    pre
      include code/2
  
  section
    h3 Processor classes
    p
      Classes implementing the Processor interface can access and change anything about the exchange
      at that step in the route.
    h3 Exchange 
    p Exchanges contain....

  section
    h2 Demo 2
    pre
      include demo/2

section 
  section
    h2 Endpoints


section
  section
    h2 Many ways to run camel
    ol
      li Stand alone main
      li In a WAR
      li In JBoss 

  section
    h2 Stand alone main
    pre
      include code/3

  section
    h2 In a WAR
    pre
      include code/4

  section
    h2 In JBoss
    pre
      include code/5

section 
  section
    h2 Using beans


section 
  section
    h2 Error handling


section 
  section
    h2 Enterprise integration patterns

  section
    h2 Aggregator

  section
    h2 Splitter

  section
    h2 Routing Slip

  section
    h2 Dynamic Router

  section
    h2 Load Balancer

section
  h2 Code demo
  pre
      code(data-trim, contenteditable).
          $.when(that(), other())
              .done(okay)
              .fail(notOkay);

section
  h2 Code demo two
  pre
    include code

section
  h2 The End

include thanks
