include about

section
  h2 Hello Camel 
  pre
    include code/1
  ul
    li Instead of maven, let's use gradle.  Here are the dependencies
  pre
    include code/2
  ul
    li This whole hello world project is at http://xyzzyURL

section
  section 
    h2 Many routes can run at once
    pre
      include code/3
  
  section
    h2 Demo 3
    pre
      include demo/3

section
  h2 Code demo
  pre
      code(data-trim, contenteditable).
          $.when(that(), other())
              .done(okay)
              .fail(notOkay);

section
  h2 Code demo two
  pre
    include code

section
  h2 The End

include thanks
