section 
  h2 Many thanks to:
  ol
    li Peter Ajtai for 
    a(href="https://github.com/pajtai/grunt-reveal-jade", target="_blank") github.com/pajtai/grunt-reveal-jade
    li Jeff Sheets for the inspiration in
      a(href="http://jeffsheets.github.io/JavaTesting2013Slides", target="_blank") jeffsheets/JavaTesting2013Slides
