code(data-trim, contenteditable).
  CamelContext context = new DefaultCamelContext();
  context.addRoutes(new RouteBuilder() {
    public void configure() {
      // noop is true, so files are not deleted after being processed
      from("file:data/inbox?noop=true").to("file:data/outbox");
    }
  });

  // start the route and let it do its work
  context.start();
  // There is a better way to start camel show later
  Thread.sleep(10000);

  // stop the CamelContext
  context.stop();
